n8n/zoho-reply-monitor.json
{
  "name": "Centrisec Outreach - Zoho reply monitor",
  "nodes": [
    {
      "parameters": {
        "content": "## Reply monitor\n1. Credentials needed: **Zoho IMAP**, **n8n webhook secret** (`x-n8n-webhook-secret`), and **Telegram Bot**.\n2. Replace `OUTREACH_BASE_URL`, `SENDER_EMAIL`, and the Telegram `chatId`.\n3. Keep IMAP post-processing set to nothing. Mark read/processed only after Worker ingest succeeds; see n8n/README.md.\n4. The Worker owns matching, classification, lead state, suppression, and sending. Safe retries deduplicate by message_id.",
        "height": 300,
        "width": 400
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Setup notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "nothing",
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "New email (Zoho IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [460, 160],
      "credentials": { "imap": { "name": "Zoho IMAP" } }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const SENDER_EMAIL = 'admin@centrisec.com'; // change if needed\nconst j = $json;\nconst meta = j.metadata || {};\nconst fromRaw = String(j.from || meta.from || '');\nconst match = fromRaw.match(/<([^>]+)>/);\nconst from_email = (match ? match[1] : fromRaw).trim().toLowerCase();\nif (!from_email || !from_email.includes('@') || from_email === SENDER_EMAIL.toLowerCase()) return null;\nconst body = String(j.textPlain || j.text || '').trim();\nif (!body) return null;\nreturn { json: { from_email, from_name: String(j.fromName || ''), subject: String(j.subject || ''), body: body.slice(0, 20000), received_at: String(j.date || new Date().toISOString()), message_id: String(j.messageId || meta['message-id'] || ''), in_reply_to: String(meta['in-reply-to'] || ''), references: String(meta.references || ''), raw_payload: j } };"
      },
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Extract reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "OUTREACH_BASE_URL/replies/ingest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {},
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "POST /replies/ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 160],
      "credentials": { "httpHeaderAuth": { "name": "n8n webhook secret" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-positive",
              "leftValue": "={{ $json.isPositive && !$json.duplicate }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0005-4000-8000-000000000005",
      "name": "Positive reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 160]
    },
    {
      "parameters": {
        "chatId": "TELEGRAM_CHAT_ID",
        "text": "=🔥 Warm reply: {{ $json.company || $json.contactName || 'Unknown company' }}\nClass: {{ $json.classification }} ({{ Math.round(($json.confidence || 0) * 100) }}%)\nSummary: {{ $json.summary }}\n\nSuggested reply (review in dashboard, never auto-sent):\n{{ ($json.suggestedReply || '(none)').slice(0, 1500) }}",
        "additionalFields": {}
      },
      "id": "b2c3d4e5-0006-4000-8000-000000000006",
      "name": "Telegram: warm lead",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1360, 60],
      "credentials": { "telegramApi": { "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-unclear",
              "leftValue": "={{ $json.classification === 'unclear' && !$json.duplicate }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0007-4000-8000-000000000007",
      "name": "Unclear?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 260]
    },
    {
      "parameters": {
        "chatId": "TELEGRAM_CHAT_ID",
        "text": "=🤔 Reply needs a human look ({{ $json.classification }}): {{ $json.company || $json.contactName || $json.leadId || 'unmatched sender' }}\n{{ $json.summary }}",
        "additionalFields": {}
      },
      "id": "b2c3d4e5-0008-4000-8000-000000000008",
      "name": "Telegram: needs review",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1600, 260],
      "credentials": { "telegramApi": { "name": "Telegram Bot" } }
    }
  ],
  "connections": {
    "New email (Zoho IMAP)": { "main": [[{ "node": "Extract reply", "type": "main", "index": 0 }]] },
    "Extract reply": { "main": [[{ "node": "POST /replies/ingest", "type": "main", "index": 0 }]] },
    "POST /replies/ingest": { "main": [[{ "node": "Positive reply?", "type": "main", "index": 0 }]] },
    "Positive reply?": {
      "main": [
        [{ "node": "Telegram: warm lead", "type": "main", "index": 0 }],
        [{ "node": "Unclear?", "type": "main", "index": 0 }]
      ]
    },
    "Unclear?": {
      "main": [
        [{ "node": "Telegram: needs review", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
